:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-anchor: middle;
  font-weight: 400;
  font-size: 5.8pt;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 1);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #fff200;
  outline: none;
  border: black 1pt solid;
  padding: 8px;
  color: black;
  font-weight: 600;
  border-radius: 4px;
  box-shadow: #24242433 2px 3px 1.5px;
}
button:hover {
  transform: translate(.5px, .5px);
  background-color: #ffe600;
  transition: all .1s;
  box-shadow: #24242444 0 0 3px;
}
button:active {
  transform: translate(.5px, .5px);
  background-color: #f4dd13;
  transition: all .1s;
  box-shadow: #24242444 0 0 3px;
}

nowrap {
  white-space: nowrap;
}

.nowrap {
  white-space: nowrap;
}

.big {
  font-size: 11pt;
}

.medium {
  font-size: 7.5pt !important;
  font-weight: 400 !important;
}

.small {
  font-size: 6pt;
  font-weight: 500;
}

body {
  background-color: white;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

@media print {
  body * {
    visibility: hidden;
  }

  #print-area,
  #print-area * {
    visibility: visible;
  }

  #print-area {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@page {
  margin: 0;
}

#print-area {
  visibility: visible;
}

.sheet {
  border: 1px solid #ccc;
}

nowrap {
  white-space: nowrap;
}

/* Estilos para spans editáveis no preview */
.editable-span {
  background: rgba(0, 0, 0, 0.05);
  border: none;
  outline: none;
  min-width: 1em;
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.editable-span:hover {
  background: rgba(0, 0, 0, 0.1);
}

.editable-span:focus {
  background: rgba(206, 206, 13, 0.429);
  box-shadow: 0 0 0 1px #ccc;
  border-radius: 2px;
}

#tag-editor-root {
  display: flex;
  width: fit-content;
}

.editable-tag-row {
  background-color: #F6F6F6;
  width: auto;
  height: fit-content;
  padding: 10px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.editable-tag-container {
  max-height: 200px;
  max-width: 450px;
  width: min-content;
  height: auto;
  overflow: hidden;
  background-color: white;
  border-radius: 4px;
  box-sizing: border-box;
}


.editor-controls-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.editable-tag-row .dragable-area {
  height: 100%;
  width: 13px;
  background-color: #D9D9D9;
  cursor: grab;
  align-self: stretch;
  box-sizing: border-box;
}